*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #050816;
}

header{
    width: 100%;
    height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 80px;

    border-bottom: 1px solid #1e293b;

    background-color: #0b1120;
}

.logo a{
    text-decoration: none;

    color: white;
    font-size: 32px;
    font-weight: bold;
}

.logo span{
    color: #2563eb;
}

nav{
    display: flex;
    gap: 40px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;

    transition: 0.3s;
}

nav a:hover{
    color: #2563eb;
}

.subscribe-btn{
    width: 170px;
    height: 50px;

    background-color: #2563eb;
    color: white;

    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    transition: 0.3s;
}

.subscribe-btn:hover{
    background-color: #1d4ed8;
}

.hero{
    width: 100%;
    min-height: calc(100vh - 90px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 80px;

    overflow: hidden;

    background:
    radial-gradient(circle at top left, #1e3a8a 0%, transparent 35%),
    radial-gradient(circle at bottom right, #2563eb 0%, transparent 30%),
    #050816;
}

.hero-content{
    max-width: 650px;
    z-index: 2;
}

.hero-subtitle{
    color: #3b82f6;
    font-size: 18px;
    letter-spacing: 4px;

    margin-bottom: 20px;
}

.hero h1{
    color: white;
    font-size: 72px;
    line-height: 1.1;

    margin-bottom: 30px;
}

.hero-text{
    color: #94a3b8;
    font-size: 22px;
    line-height: 1.7;

    margin-bottom: 40px;
}

.hero-buttons{
    display: flex;
    gap: 20px;
}

.hero-buttons a{
    padding: 16px 36px;

    background: #2563eb;
    color: white;

    text-decoration: none;
    border-radius: 12px;

    transition: 0.3s;
}

.hero-buttons a:hover{
    background: #1d4ed8;
    transform: translateY(-3px);
}

.hero-image{
    position: relative;

    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img{
    width: 100%;
    max-width: 650px;

    position: relative;
    z-index: 2;

    animation: float 5s ease-in-out infinite;
}

.circle{
    position: absolute;

    width: 500px;
    height: 500px;

    border-radius: 50%;

    background: rgba(37, 99, 235, 0.2);

    filter: blur(80px);

    z-index: 1;
}

@keyframes float{

    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0px);
    }

}

@media(max-width: 1100px){

    header{
        padding: 0 30px;
    }

    .hero{
        flex-direction: column;
        text-align: center;

        padding: 60px 30px;
    }

    .hero-content{
        max-width: 100%;
    }

    .hero-buttons{
        justify-content: center;
    }

    .hero h1{
        font-size: 52px;
    }

    .hero-text{
        font-size: 20px;
    }

    .hero-image img{
        max-width: 500px;
    }

}

@media(max-width: 700px){

    header{
        flex-direction: column;
        height: auto;

        gap: 20px;

        padding: 20px;
    }

    nav{
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero h1{
        font-size: 38px;
    }

    .hero-text{
        font-size: 18px;
    }

    .hero-buttons{
        flex-direction: column;
        align-items: center;
    }

    .hero-buttons a{
        width: 220px;
        text-align: center;
    }

    .hero-image img{
        max-width: 320px;
    }

    .circle{
        width: 300px;
        height: 300px;
    }

}


.news{
    width: 100%;

    padding: 100px 80px;
}

.news h2{
    color: white;
    font-size: 48px;

    margin-bottom: 50px;
}

.news-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 30px;
}

.news-card{
    background: #0b1120;

    border: 1px solid #1e293b;
    border-radius: 20px;

    overflow: hidden;

    transition: 0.3s;
}

.news-card:hover{
    transform: translateY(-10px);

    border-color: #2563eb;
}

.news-card img{
    width: 100%;
    height: 230px;

    object-fit: cover;
}

.news-content{
    padding: 25px;
}

.news-category{
    color: #3b82f6;
    font-size: 14px;

    margin-bottom: 15px;
}

.news-card h3{
    color: white;
    font-size: 28px;
    line-height: 1.3;

    margin-bottom: 20px;
}

.news-text{
    color: #94a3b8;
    line-height: 1.6;

    margin-bottom: 25px;
}

.news-card a{
    color: #2563eb;

    text-decoration: none;
    font-weight: bold;
}


@media(max-width: 1100px){

    .news{
        padding: 80px 30px;
    }

    .news-container{
        grid-template-columns: 1fr;
    }

}
/* КАТЕГОРИИ */

.categories{
    padding: 100px 80px;
}

.categories h2{
    color: white;
    font-size: 48px;
    margin-bottom: 40px;
}

.categories-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.category-card{
    background: #0b1120;

    border: 1px solid #1e293b;
    border-radius: 20px;

    padding: 30px;

    transition: .3s;
}

.category-card:hover{
    transform: translateY(-10px);
    border-color: #2563eb;
}

.category-card h3{
    color: white;
    margin-bottom: 15px;
}

.category-card p{
    color: #94a3b8;
    line-height: 1.6;
}

/* ПОДПИСКА */

.subscribe{
    padding: 100px 80px;
}

.subscribe-content{

    background: linear-gradient(
        135deg,
        #0b1120,
        #1e3a8a
    );

    border-radius: 25px;

    text-align: center;

    padding: 70px 40px;
}

.subscribe-content h2{
    color: white;
    font-size: 42px;

    margin-bottom: 20px;
}

.subscribe-content p{
    color: #cbd5e1;

    max-width: 700px;

    margin: 0 auto 40px;

    line-height: 1.8;
}

.subscribe-button{
    display: inline-block;

    padding: 18px 40px;

    background: #2563eb;

    color: white;

    text-decoration: none;

    border-radius: 12px;

    transition: .3s;
}

.subscribe-button:hover{
    background: #1d4ed8;
}

/* FOOTER */

footer{
    background: #0b1120;

    border-top: 1px solid #1e293b;

    margin-top: 100px;
}

.footer-content{
    padding: 50px 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 30px;

    flex-wrap: wrap;
}

.footer-logo{
    color: white;

    font-size: 30px;
    font-weight: bold;
}

.footer-logo span{
    color: #2563eb;
}

.footer-links{
    display: flex;
    gap: 25px;
}

.footer-links a{
    color: #94a3b8;

    text-decoration: none;

    transition: 0.3s;
}

.footer-links a:hover{
    color: #2563eb;
}

.footer-text{
    color: #94a3b8;

    max-width: 350px;

    line-height: 1.6;
}

.footer-bottom{
    text-align: center;

    color: #64748b;

    padding: 20px;

    border-top: 1px solid #1e293b;
}

/* АДАПТИВНОСТЬ */

@media(max-width: 768px){

    .footer-content{
        flex-direction: column;
        text-align: center;

        padding: 40px 20px;
    }

    .footer-links{
        flex-wrap: wrap;
        justify-content: center;
    }

}
/* POPULAR */

.popular{
    padding: 80px;
}

.popular h1{
    color: white;
    font-size: 60px;

    margin-bottom: 50px;
}

.top-news{
    display: flex;
    gap: 30px;

    flex-wrap: wrap;
}

.top-card{
    flex: 1;

    min-width: 300px;

    background: #0b1120;

    border: 1px solid #1e293b;
    border-radius: 20px;

    padding: 30px;
}

.top-card span{
    color: #2563eb;
    font-weight: bold;
}

.top-card h2{
    color: white;

    margin: 20px 0;
}

.top-card p{
    color: #94a3b8;

    line-height: 1.7;
}

/* RATING */

.rating{
    padding: 0 80px 80px;
}

.rating h2{
    color: white;

    font-size: 40px;

    margin-bottom: 40px;
}

.rating-card{
    background: #0b1120;

    border: 1px solid #1e293b;
    border-radius: 15px;

    padding: 20px 30px;

    margin-bottom: 20px;

    display: flex;
    align-items: center;

    gap: 20px;
}

.rating-card span{
    color: #2563eb;

    font-size: 32px;
    font-weight: bold;
}

.rating-card p{
    color: white;
    font-size: 18px;
}
.readers{
    padding: 0 80px 80px;
}

.readers h2{
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
}

.readers-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.reader-card{
    background: #0b1120;

    border: 1px solid #1e293b;
    border-radius: 20px;

    padding: 30px;

    transition: .3s;
}

.reader-card:hover{
    transform: translateY(-8px);
    border-color: #2563eb;
}

.reader-card h3{
    color: white;
    margin-bottom: 15px;
}

.reader-card p{
    color: #94a3b8;
}
.achievements{
    padding: 80px;

    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;
    gap: 30px;

    text-align: center;
}

.achievement h3{
    color: #2563eb;
    font-size: 50px;
}

.achievement p{
    color: white;
    margin-top: 10px;
}

/* CONTACTS */

.contacts{
    padding: 80px;
}

.contacts h1{
    color: white;
    font-size: 60px;

    margin-bottom: 15px;
}

.contacts-subtitle{
    color: #94a3b8;

    margin-bottom: 50px;
}

.contacts-container{
    display: flex;

    gap: 40px;

    flex-wrap: wrap;
}

.contact-info{
    flex: 1;
    min-width: 300px;
}

.contact-card{
    background: #0b1120;

    border: 1px solid #1e293b;
    border-radius: 15px;

    padding: 25px;

    margin-bottom: 20px;
}

.contact-card h3{
    color: white;

    margin-bottom: 10px;
}

.contact-card p{
    color: #94a3b8;
}

.contact-form{
    flex: 1;
    min-width: 300px;

    background: #0b1120;

    border: 1px solid #1e293b;
    border-radius: 20px;

    padding: 30px;
}

.contact-form h2{
    color: white;

    margin-bottom: 20px;
}

.contact-form form{
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.contact-form input,
.contact-form textarea{

    background: #111827;

    border: 1px solid #1e293b;
    border-radius: 10px;

    padding: 15px;

    color: white;
}

.contact-form textarea{
    height: 150px;
    resize: none;
}

.contact-form button{

    background: #2563eb;

    color: white;

    border: none;
    border-radius: 10px;

    padding: 15px;

    cursor: pointer;
}

.contact-form button:hover{
    background: #1d4ed8;
}

/* MAP */

.map{
    padding: 0 80px 80px;
}

.map h2{
    color: white;

    margin-bottom: 20px;
}

.map-placeholder{
    height: 420px;
    width: 580px;

    background: #0b1120;

    border: 3px solid #1e293b;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #94a3b8;
}

.subscribe-page{

    min-height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 50px;
}

.subscribe-box{

    width: 100%;
    max-width: 700px;

    background: #0b1120;

    border: 1px solid #1e293b;
    border-radius: 20px;

    padding: 40px;
}

.subscribe-box h1{
    color: white;
    margin-bottom: 15px;
}

.subscribe-box p{
    color: #94a3b8;
    margin-bottom: 30px;
}

.subscribe-box form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.subscribe-box input,
.subscribe-box select{

    padding: 15px;

    border: 1px solid #1e293b;
    border-radius: 10px;

    background: #111827;
    color: white;
}

.subscribe-box button{

    padding: 15px;

    border: none;
    border-radius: 10px;

    background: #2563eb;
    color: white;

    cursor: pointer;
}

.subscribe-box button:hover{
    background: #1d4ed8;
}

.success-message{

    margin-top: 25px;

    padding: 15px;

    border-radius: 10px;

    background: rgba(37,99,235,0.15);

    color: #60a5fa;
}
.error-page{

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background:
    radial-gradient(circle at center,
    #1e3a8a 0%,
    #050816 60%);

    overflow: hidden;

    position: relative;
}

.error-container{

    text-align: center;

    z-index: 2;

    padding: 20px;
}

.error-number{

    font-size: 220px;
    font-weight: 900;

    color: white;

    text-shadow:
    0 0 20px #2563eb,
    0 0 40px #2563eb,
    0 0 80px #2563eb;

    animation: pulse 2s infinite;
}

.error-number span{
    color: #2563eb;
}

.status{

    color: #22c55e;

    font-family: monospace;

    letter-spacing: 5px;

    margin-top: -30px;
    margin-bottom: 20px;
}

.error-container h1{

    color: white;

    font-size: 42px;

    margin-bottom: 20px;
}

.description{

    color: #94a3b8;

    max-width: 650px;

    margin: auto;

    line-height: 1.8;

    margin-bottom: 40px;
}

.home-btn{

    display: inline-block;

    padding: 18px 40px;

    background: #2563eb;

    color: white;

    text-decoration: none;

    border-radius: 15px;

    transition: .3s;
}

.home-btn:hover{

    transform: translateY(-5px);

    box-shadow:
    0 0 15px #2563eb,
    0 0 30px #2563eb;
}

.stars{

    position: absolute;

    width: 100%;
    height: 100%;

    background-image:
    radial-gradient(white 1px, transparent 1px);

    background-size: 50px 50px;

    opacity: .15;
}

@keyframes pulse{

    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.05);
    }

    100%{
        transform: scale(1);
    }

}